In [59]:
import pandas as pd

df = pd.read_csv('heart.csv')

In [60]:
print(df['cp'].unique())
df_cp2 = df[df['cp'] == 2]
df_cp2

[0 1 2 3]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
20,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
23,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
24,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,51,1,2,125,245,1,0,166,0,2.4,1,0,2,1
985,62,1,2,130,231,0,1,146,0,1.8,1,3,3,1
1004,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
1006,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
1014,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1

In [61]:
df.groupby('cp').mean()

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
cp,,,,,,,,,,,,,
0,55.784708,0.732394,132.213280,249.993964,0.132797,0.480885,140.052314,0.569416,1.438833,1.243461,0.981891,2.454728,0.245473
1,51.245509,0.658683,128.119760,244.700599,0.095808,0.616766,162.179641,0.071856,0.323952,1.658683,0.425150,2.155689,0.802395
2,53.517606,0.616197,130.077465,242.197183,0.193662,0.598592,155.116197,0.130282,0.784507,1.507042,0.619718,2.211268,0.771127
3,56.012987,0.831169,140.961039,237.064935,0.207792,0.402597,157.129870,0.168831,1.380519,1.259740,0.493506,2.259740,0.662338

In [62]:
# 4 categories
# single group, single column
# single group, multi columns
# multi group, single clolumn
# multi group, multi columns

In [63]:
df = df.rename(columns={'sex': 'gender'})
df['gender'] = df['gender'].replace({1: 'Male', 0: 'Female'})

In [64]:
# single g
df1 = df.groupby('gender')
# single c
print(df1['chol'].max(), end='\n\n')
print(df1['chol'].median(), end='\n\n')
print(df1['chol'].mean(), end='\n\n')

gender
Female    564
Male      353
Name: chol, dtype: int64

gender
Female    254.0
Male      234.0
Name: chol, dtype: float64

gender
Female    261.455128
Male      239.237027
Name: chol, dtype: float64

In [65]:
# multi c
print(df1[['restecg', 'oldpeak', 'chol']].max(), end='\n\n')
print(df1[['restecg', 'oldpeak', 'chol']].median(), end='\n\n')
print(df1[['restecg', 'oldpeak', 'chol']].mean(), end='\n\n')

        restecg  oldpeak  chol
gender
Female        2      6.2   564
Male          2      5.6   353

        restecg  oldpeak   chol
gender
Female      1.0      0.6  254.0
Male        1.0      0.8  234.0

         restecg   oldpeak        chol
gender
Female  0.573718  0.921154  261.455128
Male    0.510519  1.137307  239.237027